<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="http://localhost:8100/login"><ion-icon name="arrow-back-circle-sharp" class="custom-icon" slot="start" style="float:left; margin-left:10px;"></ion-icon></a>
    <ion-title style="float:left; margin-left:3px;">Profile</ion-title>
    <a href="http://localhost:8100/add"><ion-icon name="add-circle-sharp" class="custom-icon" slot="end" style="float:right; margin-right:10px;"></ion-icon></a>
  </ion-toolbar>
</ion-header>
<ion-content></ion-content>
